@{
    ViewData["Title"] = "Home";
}
<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#page-top">Brian Scott Russell</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a id="portfolio-link" href="#portfolio">Projects</a>
                </li>
                <li class="page-scroll">
                    <a id="about-link" href="#about">About</a>
                </li>
                <li class="page-scroll">
                    <a id="skills-link" href="#skills">Skills</a>
                </li>
                <!--<li class="page-scroll">
                    <a id="contact-link" href="#contact">Contact</a>
                </li>-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img id="img-profile" class="img-responsive" src="~/images/profile.png" alt=""/>
                <div class="intro-text">
                    <span class="name">Brian Scott Russell</span>
                    <hr class="star-light"/>
                    <span class="skills">Software Engineer - Entrepreneur</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Key Projects</h2>
                <hr class="star-primary"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/images/portfolio/spring.png" class="img-responsive center-block" alt="Spring Web Application"/>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/images/portfolio/struts.png" class="img-responsive center-block" alt="Struts Web Application"/>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/images/portfolio/wordpress.png" class="img-responsive center-block" alt="WordPress Integration"/>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/images/portfolio/aws.png" class="img-responsive center-block" alt="Amazon Web Services Migration"/>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/images/portfolio/liferay.png" class="img-responsive center-block" alt="Liferay Customization"/>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/images/portfolio/quickbooks.png" class="img-responsive center-block" alt="QuickBooks Integration"/>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>I am a distinguished, versatile, and adept Software Engineer. I take pride in my capability to be an integral part of software projects from inception to completion. That attribute was most recently demonstrated amid the development of key product offerings for a successful Software-as-a-Service company. My diverse proficiencies are primarily the manifestation of my entrepreneurial career.</p>
            </div>
        </div>
    </div>
</section>

<!-- Skills Section -->
<section id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Top Skills</h2>
                <hr class="star-primary"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h4>Technical</h4>
                <div class="skills center-block">
                    <span class="skill">Java/J2EE</span>
                    <span class="skill">PHP</span>
                    <span class="skill">C#</span>
                    <span class="skill">HTML</span>
                    <span class="skill">JavaScript</span>
                    <span class="skill">CSS</span>
                    <span class="skill">Spring</span>
                    <span class="skill">Struts</span>
                    <span class="skill">Swing</span>
                    <span class="skill">RESTful Web Services</span>
                    <span class="skill">jQuery</span>
                    <span class="skill">Bootstrap</span>
                    <span class="skill">AJAX</span>
                    <span class="skill">Thymeleaf</span>
                    <span class="skill">Hibernate</span>
                    <span class="skill">Maven</span>
                    <span class="skill">Ant</span>
                    <span class="skill">SVN</span>
                    <span class="skill">Git</span>
                    <span class="skill">CVS</span>
                    <span class="skill">Apache</span>
                    <span class="skill">Tomcat</span>
                    <span class="skill">MySQL</span>
                    <span class="skill">AWS</span>
                    <span class="skill">WordPress</span>
                    <span class="skill">Liferay</span>
                    <span class="skill">Unix</span>
                </div>
            </div>
            <div class="col-sm-6">
                <h4>Personal</h4>
                <div class="skills center-block">
                    <span class="skill">Versatility</span>
                    <span class="skill">Curiosity</span>
                    <span class="skill">Experience</span>
                    <span class="skill">Vision</span>
                    <span class="skill">Passion</span>
                    <span class="skill">Discipline</span>
                    <span class="skill">Patience</span>
                    <span class="skill">Attention to Detail</span>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- TODO: Contact Section -->

@section modals {
    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Spring Web Application</h2>
                            <hr class="star-primary"/>
                            <img src="~/images/portfolio/volunteermatters.png" class="img-responsive img-centered img-portfolio-detail" alt="VolunteerMatters"/>
                            <p>A major, national, non-profit organization came to us in need of a volunteer management system. I played a key role in the proposal process, requirements gathering, project management, and implementation of a spring based web application to support their needs. This not only required the technical skills to utilize technologies and frameworks in which I was not yet experienced, but also the project management skills to pull together various teams, both internal and external, to meet and exceed expectations. The product launch has been a resounding success, and is the keystone in the company’s suite of SaaS products.</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://volunteermatters.com">VolunteerMatters</a></strong>
                                </li>
                                <li>Year:
                                    <strong>2016</strong>
                                </li>
                                <li>Service:
                                    <strong>Web Development</strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Struts Web Application</h2>
                            <hr class="star-primary"/>
                            <img src="~/images/portfolio/gm-struts.png" class="img-responsive img-centered img-portfolio-detail" alt="Struts Web Application"/>
                            <p>After the company recognized a need, an SaaS product was conceived to address the evaluation and rating of grant applications by foundations. I was personally responsible for the entire execution of the project, including requirements gathering, design, implementation of code, testing, deployment, documentation, and subsequent maintenance. The web-based software was built in Java using the Jakarta Struts framework and Object Oriented concepts throughout. The software is one of the company’s flagship products and is accessed by thousands of users from many foundations.</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://grantmaker.com">GrantMaker</a>
                                    </strong>
                                </li>
                                <li>Year:
                                    <strong>2007
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Web Development
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>WordPress Integration</h2>
                            <hr class="star-primary"/>
                            <img src="~/images/portfolio/vm-wordpress.png" class="img-responsive img-centered img-portfolio-detail" alt="WordPress Integration"/>
                            <p>In an effort to increase the scope of our own platform’s compatibility, I led an initiative to integrate with WordPress. This required me to research, propose, and recommend a WordPress hosting service, allowing us to cost-effectively transition any existing or new clients to the platform. While learning the WordPress platform itself, I was able to gain experience in the PHP language via the creation of various plugins which enabled us to provide multiple integration points between our web application and the WordPress sites.</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://volunteermatters.com">VolunteerMatters</a></strong>
                                </li>
                                <li>Year:
                                    <strong>2015</strong>
                                </li>
                                <li>Service:
                                    <strong>Web Development</strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Amazon Web Services Migration</h2>
                            <hr class="star-primary"/>
                            <img src="~/images/portfolio/vm-aws.png" class="img-responsive img-centered img-portfolio-detail" alt="Amazon Web Services Migration"/>
                            <p>Researched, proposed, planned, and executed the migration of all of our existing web applications, accessed by hundreds of customers and thousands of individual users, from an environment of standalone servers to an Amazon virtual private cloud.</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://volunteermatters.com">VolunteerMatters</a>
                                    </strong>
                                </li>
                                <li>Year:
                                    <strong>2012
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Infrastructure
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Liferay Customization</h2>
                            <hr class="star-primary"/>
                            <img src="~/images/portfolio/vm-liferay.png" class="img-responsive img-centered img-portfolio-detail" alt="Liferay Customization"/>
                            <p>I was tasked with leveraging existing technology to reduce development cost while replacing our own proprietary content management platform. I led the project to customize and deploy a multi-tenant version of the Liferay platform which would seamlessly integrate with our web based volunteer management system. I successfully managed a team of independent contractors, from across the globe, in order to meet the complex requirements for customization of the platform and the tight timeline for a production-ready deployment. As part of this initiative, I was able to coordinate the smooth migration of over one hundred customers to this more robust platform.</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://volunteermatters.com">VolunteerMatters</a>
                                    </strong>
                                </li>
                                <li>Year:
                                    <strong>2011
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Web Development
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>QuickBooks Integration</h2>
                            <hr class="star-primary"/>
                            <img src="~/images/portfolio/vm-qb.png" class="img-responsive img-centered img-portfolio-detail" alt="QuickBooks Integration"/>
                            <p>Created an add-on module to an existing system allowing a QuickBooks company file to be updated with invoices and payments for QuickBooks customers from our web-based member management software. A web service is used to allow communication between a user’s local machine with QuickBooks installed and the member management software. This involved taking it upon myself to research and learn the SOAP framework (Apache Axis2) and the QuickBooks SDK in order to properly format the xml messages that must be sent to and from the web service. This product module is a key piece of the company’s volunteer and member management product offering.</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://volunteermatters.com">VolunteerMatters</a>
                                    </strong>
                                </li>
                                <li>Year:
                                    <strong>2006
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Web Development
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>PayPal Integration</h2>
                            <hr class="star-primary"/>
                            <img src="~/images/portfolio/vm-paypal.png" class="img-responsive img-centered img-portfolio-detail" alt="PayPal Integration"/>
                            <p>Various functionality throughout the company’s web-based products required the processing of payments for online purchases, therefore PayPal payment processing was integrated with the products. A secure communication is set up with PayPal using a certification key design for authentication. A shopping cart of items is built, encrypted, and sent via an https request to PayPal. Notifications are sent from PayPal via a call to a servlet to update the software with the status of a payment. This is another example of a project that required my research, my recommendations, and ultimately my development capabilities to execute the integration.</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://volunteermatters.com">VolunteerMatters</a>
                                    </strong>
                                </li>
                                <li>Year:
                                    <strong>2004
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Web Development
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section scripts {
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form -->
    <script>
        /*<![CDATA[*/
        $(document).ready(function() {
            $('a#contact-link').click();
        });
        /*]]>*/
    </script>
}
